In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [13]:
chunks = pd.read_csv("Top_10000_Movies.csv", chunksize=1000, lineterminator='\n')
df = pd.concat(chunks, ignore_index=True)
df.shape

(10000, 13)

In [15]:
df.describe()

,Unnamed: 0,id,popularity,vote_average,vote_count,revenue,runtime
count,10000.00000,10000.0000,10000.000000,10000.00000,10000.000000,1.000000e+04,9991.000000
mean,4999.50000,250053.0833,34.516871,6.29875,1315.084900,5.736388e+07,98.773596
std,2886.89568,261734.6183,100.693958,1.43426,2501.899103,1.480771e+08,28.800581
min,0.00000,5.0000,6.269000,0.00000,0.000000,0.000000e+00,0.000000
25%,2499.75000,11866.7500,11.908000,5.90000,118.000000,0.000000e+00,89.000000
50%,4999.50000,144476.0000,17.488000,6.50000,425.500000,5.912300e+05,99.000000
75%,7499.25000,451485.0000,29.626250,7.10000,1297.250000,4.764549e+07,113.000000
max,9999.00000,893478.0000,5401.308000,9.50000,30184.000000,2.847246e+09,400.000000

In [16]:
df.drop(["Unnamed: 0","id"], axis=1, inplace=True)

In [18]:
df["release_date"] = pd.to_datetime(df["release_date"], format="%Y-%m-%d")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_language  10000 non-null  object
 1   original_title     10000 non-null  object
 2   popularity         10000 non-null  float64
 3   release_date       9962 non-null   datetime64[ns]
 4   vote_average       10000 non-null  float64
 5   vote_count         10000 non-null  int64
 6   genre              10000 non-null  object
 7   overview           9900 non-null   object
 8   revenue            10000 non-null  int64
 9   runtime            9991 non-null   float64
 10  tagline            7080 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 859.5+ KB

In [22]:
df.isnull().sum()

original_language       0
original_title          0
popularity              0
release_date           38
vote_average            0
vote_count              0
genre                   0
overview              100
revenue                 0
runtime                 9
tagline              2920
dtype: int64

In [23]:
df['overview'].fillna('No overview available', inplace=True)
df['tagline'].fillna('No tagline available', inplace=True)
df['runtime'].fillna(df['runtime'].mean(), inplace=True)

In [24]:
df['release_year'] = pd.to_datetime(df['release_date'], errors='coerce').dt.year
avg_release_year = df['release_year'].mean()

# Fill missing values in 'release_date' with the average release year
df['release_date'].fillna(f"{int(avg_release_year)}-01-01", inplace=True)

# Dropping the temporary 'release_year' column
df.drop(columns=['release_year'], inplace=True)

In [25]:
df.isnull().sum()

original_language    0
original_title       0
popularity           0
release_date         0
vote_average         0
vote_count           0
genre                0
overview             0
revenue              0
runtime              0
tagline              0
dtype: int64

In [26]:
df.head()

,original_language,original_title,popularity,release_date,vote_average,vote_count,genre,overview,revenue,runtime,tagline
0,en,Venom: Let There Be Carnage,5401.308,2021-09-30,6.8,1736,"['Science Fiction', 'Action', 'Adventure']",After finding a host body in investigative rep...,424000000,97.0,No tagline available
1,en,Eternals,3365.535,2021-11-03,7.1,622,"['Action', 'Adventure', 'Science Fiction', 'Fa...",The Eternals are a team of ancient aliens who ...,165000000,157.0,In the beginning...
2,en,Dune,2911.423,2021-09-15,8.0,3632,"['Action', 'Adventure', 'Science Fiction']","Paul Atreides, a brilliant and gifted young ma...",331116356,155.0,"Beyond fear, destiny awaits."
3,en,Army of Thieves,2552.437,2021-10-27,6.9,555,"['Action', 'Crime', 'Thriller']",A mysterious woman recruits bank teller Ludwig...,0,127.0,"Before Vegas, one locksmith became a legend."
4,en,Free Guy,1850.470,2021-08-11,7.8,3493,"['Comedy', 'Action', 'Adventure', 'Science Fic...",A bank teller called Guy realizes he is a back...,331096766,115.0,Life's too short to be a background character.